#colophon {
    display: flex;
    flex-direction: column;
    background: $slate;
    color: $white;
    justify-content: space-between;
    text-align: center;

    @include lg {
        flex-direction: row;
    }

    .site-branding {
        filter: brightness(0) invert(1);
        order: 1;
        padding: 15px 30px;

        @include lg {
            padding: 30px 20% 44px;
        }
    }

    .location {
        margin-bottom: 15px;
        order: 2;
        padding: 0px 30px;
    }
    
    .license {
        margin: 15px 0;
    }
}

#quick-links {
    background: linear-gradient($secondary, $aux_2);
    color: $black;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    order: 3;

    @include lg {
        
    }
    
    a {
        flex-basis: 50%;
        color: $white;
        text-decoration: none;
        font-size: 1.2rem;
        margin-bottom: 1em;

        &:last-child {
            margin-bottom: 0;
            flex-grow: 2;
        }
    }
}

#copyright {
    text-align: center;
    order: 4;
    padding: 20px 30px;
}