#colophon {
    display: flex;
    flex-direction: column;
    background: $slate;
    color: $white;
    padding: 15px 30px 25px;
    justify-content: space-between;
    text-align: center;

    @include lg {
        flex-direction: row;
        padding: 30px 20% 44px;
    }

    .site-branding {
        filter: brightness(0) invert(1);
    }
}

.location {
    margin-bottom: 15px;
}



#quick-links {
    display: flex;
    align-items: center;

    @include lg {
        flex-direction: column;
    }
    
    a {
        color: $white;
        text-decoration: none;
    }
}