#site-header {
    display: grid;
    grid-template-rows: 40px auto 50px;
    grid-template-columns: minmax(0, calc((100vw - $content_max_width) / 2)) 1fr minmax(100px, 300px) 1fr minmax(0, calc((100vw - $content_max_width) / 2));
    grid-template-areas: // space-r & space-l are just filler columns.
    'top top top top top'
    'space-l brand ctas ctas space-r'
    'space-l brand space menu menu';

    .site-branding {
        grid-area: brand;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        max-width: 300px;
        text-align: center;
        min-height: 150px;
    }
}

#tag-line {
    margin-bottom: 0;
}

#top-nav,
#header-ctas,
#primary-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    a {
        margin-left: 15px;
    }
}

#top-nav {
    grid-area: top;
    background: $primary;
    padding: 0 calc((100vw - $content_max_width) / 2);
    height: 40px;
}

#header-ctas {
    grid-area: ctas;
    background: lime;
}

#primary-nav {
    grid-area: menu;
    background: $secondary;
    padding-right: calc((100vw - $content_max_width) / 2);
    align-self: flex-end;
    height: 50px;
    clip-path: polygon(50px 0, 100% 0%, 100% 100%, 0% 100%);
}