.egpr-review-template2 {
    li.egpr-sp-review {
        background: $white;
        padding-top: 0;

        div.egpr-main-header-section {
            padding: 30px;
            min-height: 290px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    .egpr-rateus-button-wrap {
        text-align: center;
    }

    .egpr-review-section {
        padding: 0;
    }
}