h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

section > h2:first-child {
    margin-top: 0;
    width: 100%;
}

section {
    padding: 30px 20% 44px;
    text-align: center;

    &:nth-child(even) {
        background: #e0e0e0;
    }
}

a.sg-no-style {
    all: revert;
}

#colors {
    text-align: center;
    padding: 30px 20%;

    h4 {
        margin: 0 0 10px 0;
        padding: 0;
    }
}

.color-palette {
    display: flex;
    justify-content: space-evenly;    
}

.color-swatch {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 10px;
    border: 1px solid #000;
    align-items: center;
}

.swatch-block {
    height: 80px;
    width: 130px; // Golden rectangle dimensions.
    background: $primary;
    border: 1px solid #000;
}

.swatch-block.secondary {
    background: $secondary;
}

.swatch-block.tertiary {
    background: $tertiary;
}

.swatch-block.accent-1 {
    background: $accent_1;
}

.swatch-block.accent-2 {
    background: $accent_2;
}

.swatch-block.aux-1 {
    background: $aux_1;
}

.swatch-block.aux-2 {
    background: $aux_2;
}

.swatch-block.aux-3 {
    background: $aux_3;
}

.swatch-block.tonal-1 {
    background: $white;
}

.swatch-block.tonal-2 {
    background: $lit_grey;
}

.swatch-block.tonal-3 {
    background: $grey;
}

.swatch-block.tonal-4 {
    background: $drk_grey;
}

.swatch-block.tonal-5 {
    background: $black;
}

.swatch-block.grade-1 {
    @include gradient_1;
}

.swatch-block.grade-2 {
    @include gradient_2;
}

#buttons {
    & > p {
        max-width: 550px;
        margin: 0 auto 30px;
    }

    button,
    .btn {
        margin: 10px 15px;
    }
}

#typography {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    h2 {
        width: 100%;
    }

    .font-sampler {
        text-align: center;

        &.first-font {
            font-family: 'Source Sans Pro', sans-serif;
            
            h4 {
                font-family: 'Source Sans Pro', sans-serif;
            }
        }
        
        &.second-font {
            font-family: 'PT Serif', serif;
        }
    }
}

#text-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

    h2 {
        width: 100%;
    }

    #headings {
        width: 200px;
    }

    #common-text-elements {
        width: 800px;
        display: flex;
        
        div:first-child {
            width: 30%;
        }

        div:last-child {
            width: 70%;
        }
    }

    #misc-text-elements {
        display: none;
        width: 400px;
    }

    #in-out-elements {
        display: none;
    }

    #paragraphs {
        // width: calc(35% - 15px);
        text-align: left;
    }

    #lists {
        display: flex;
        width: 100%;
        text-align: left;
        gap: 30px;
    }
}

#media {
    padding: 30px 10%;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;

    div {
        width: 32%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
}

#tables {
    display: flex;
    justify-content: center;
}

#articles {
    text-align: left;
}