.card {
    border: 2px solid $black;
    border-radius: 10px;
    background: $white;
    overflow: hidden;
    flex-basis: 30%;

    &-image {

    }

    &-title {
        margin: 10px 0;
    }

    &-detail {
        padding: 0 1em;
    }
}