// Theme Control Variables
// Includes color, typography, spacing, and other variables used throughout the theme.
//
// Table of contents:
// 1. Colors & Gradients
// 2. Typography
// 3. Theme Spacing (padding / margins / gaps)
// 4. Other Variables (border radius, etc.)

$white:         #fff;
$black:         #000;
$mg_red:        #ed1c24;
$mg_crimson:    #5c0000;
$mg_royal_blue: #64b7da;
$mg_ocean_blue: #538CB0;
$mg_navy:       #20303B;

$primary:       $mg_red;
$secondary:     $mg_royal_blue;
$tertiary:      $mg_navy;
$accent_1:      $mg_crimson;
$accent_2:      $mg_ocean_blue;


$corner_rounding: 10px;

// 2. Typography
// https://web.dev/font-best-practices/


// 3. Theme Spacing (padding / margins / gaps)
$content_max_width: 1600px; // If vertical scrollbar is present it will be about 15px smaller.