// Theme Control Variables
// Includes color, typography, spacing, and other variables used throughout the theme.
//
// Table of contents:
// 1. Colors
// 2. Gradients (mixins)
// 3. Typography
// 4. Theme Spacing (padding / margins / gaps)
// 5. Other Variables (border radius, etc.)

// 1. Colors ---------------
$mg_red:        #ed1c24;
$mg_crimson:    #5c0000;
$mg_royal_blue: #64b7da;
$mg_ocean_blue: #538CB0;
$mg_navy:       #20303B;
$mg_gold:       #ba9500;
$mg_denim:      #255679;
$mg_copper:     #928e7f;

$white:         #fff;
$lit_grey:      #bbb;
$grey:          #808080;
$drk_grey:      #454545;
$black:         #000;

$primary:       $mg_red;
$secondary:     $mg_royal_blue;
$tertiary:      $mg_navy;
$accent_1:      $mg_crimson;
$accent_2:      $mg_ocean_blue;

$aux_1:         $mg_copper;
$aux_2:         $mg_denim;
$aux_3:         $mg_gold;

/* 2. Gradients ---------------
For easy gradient generation check out: https://cssgradient.io/
You can swap the colors from the above url for whatever color variables
you've alreacy created. Please keep all gradient mixins in this file as
they are closely associated to the color variables. */
@mixin gradient_1() {
    background: linear-gradient(135deg, $primary, $accent_1);  
}

@mixin gradient_2() {
    background: linear-gradient(135deg, $secondary, $accent_2);  
}

// 2. Typography
// https://web.dev/font-best-practices/


// 3. Theme Spacing (padding / margins / gaps)
$content_max_width: 1600px; // If vertical scrollbar is present it will be about 15px smaller.

// 4. Other Variables
$corner_rounding: 10px;