html,
body {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

p {
    margin-top: 0;
    margin-bottom: 1em;
}

h1, h2, h3,
h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 1rem;
}

ul, ol, dl {
    margin: 0;
}

details {
    text-align: left; // Default is centered for some reason.
    overflow: hidden;

    &:hover {
        cursor: pointer;
    }
    
    &:first-of-type {
        border-radius: 10px 10px 0 0;
        border: 2px solid $black;
    }

    &:not(:first-of-type) {
        border: 2px solid $black;
        border-width: 0 2px 2px 2px;
    }

    &:last-of-type {
        border-radius: 0 0 10px 10px;
    }

    summary {
        background-color: #808080;
        padding: 1em;
        color: $white;
    }

    .detail-content {
        border-width: 0 2px 0 2px;
        padding: 1.25em;
    }
}